body {
    font-family: sans-serif;
    color: #333;
    margin: 0 auto !important; 
    float: none !important; 
}

.warningmsg {
    padding: 20px;
    background-color: #ff9966;
    display: none;
    margin-bottom: 15px;
}
.errormsg {
    padding: 20px;
    background-color: #cc3300;
    color: white;
    display: none;
    margin-bottom: 15px;

}
#results {
    margin-top: 4em;
    margin-bottom: 4em;
}

#results table {
    margin: 0 auto;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}
/* Style party columns */
tbody>tr>:nth-child(2),thead>tr>:nth-child(2) {
    background-color: #0087dc80;
}
tbody>tr>:nth-child(3),thead>tr>:nth-child(3) {
    background-color: #d5000080;
}
tbody>tr>:nth-child(4),thead>tr>:nth-child(4) {
    background-color: #FDBB3080;
}
tbody>tr>:nth-child(5),thead>tr>:nth-child(5) {
    background-color: #3F842880;
}
tbody>tr>:nth-child(6),thead>tr>:nth-child(6) {
    background-color: #80808080;
}
.selectize-control { width: 60%; }
