<div class="footer-extra-spaccing"></div>
<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-md-6">
			<p>We are part of the <a href="https://www.royalholloway.ac.uk/research-and-teaching/departments-and-schools/politics-and-international-relations/">Department of Politics, International Relations and Philosophy</a> at <a href="https://www.rhul.ac.uk">Royal Holloway</a>.</p>            
		</div>
		
		<div class="col-md-6 text-left text-md-right mt-4 mt-md-0">
			<p>
				Contact:<br />
				McCrea Building, Royal Holloway<br />
				Egham, Surrey<br />
				TW20 0EX<br />
				United Kingdom <br />
			</p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
