<div class="navbar fixed-top navbar-expand-lg bg-dark" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse"  aria-expanded="false">
		<span class="navbar-toggler-icon"></span>
	  </button>
	
	  <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">DEC@RHUL</a>
	</div>

	
	<div class="collapse navbar-collapse" id="navbar-collapse">
	  {% assign current_page = page.url | strip %}
	  <ul class="nav navbar-nav ml-auto">
		<li><a class="{% if current_page == '/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a class="{% if current_page == '/team/' %} active {% endif %}" href="{{ site.url }}{{ site.baseurl }}/team">People</a></li>
		<li><a class="{% if current_page == '/publications/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/publications">Publications</a></li>
		<li><a class="{% if current_page == '/research/' %} active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li><a class="{% if current_page == '/_pages/blogs.html' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/_pages/blogs.html">Blog-posts</a></li>
		<li><a class="{% if current_page == '/datasets/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/datasets">Data-sets</a></li>
		<li><a class="{% if current_page == '/interactives/' %}active{% endif %}" href="{{ site.url }}{{ site.baseurl }}/interactives">Interactives</a></li>
	  </ul>
	</div>
  </div>
</div>
